@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 5vh;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #000000, #151616);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-bottom: 0;
}

#messages {
    border-radius: 5px;
}

#messages div {
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 10px;
    background-color: #000000;
    max-width: 80%;
    font-family: Arial, sans-serif;
    color: white;
    border: 1px solid white;
}

#chat {
    width: 500px;
    margin: 50px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(253, 253, 253, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
}

#messageInput {
    width: 25vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 14px;
    background: black;
    color: white;
}

#sendBtn {
    width: 70px;
    padding: 10px;
    margin-top: 12px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#playBtn {
    width: 100px;
    padding: 10px;
    margin-top: 12px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#visualizer {
    display: block;
    width: 30vw;
}